<%= render "shared/header"%>

<div class="container text-center mt-5">
  <%= form_with model:@item,url: place_item_path(@item.place_id,@item.id),method: :patch,local: true do |f|%>
   <%= render 'shared/error_messages', model: f.object %>
    <%= f.label :number,"個数",class: "mr-2"%>
    <%= f.number_field :store%>
    <%= f.submit%>
  <% end%>

<div class="text-right">
  <%= link_to "この商品を削除",place_item_path(@item.place_id,@item.id),method: :delete,class:"btn btn-danger ml-5 text-right btn-lg"%>
</div>
  <div class="mt-5">
  <p class="h1 mt-5 mb-5"><%= @item.name%></p>
    <%= image_tag @item.image ,class:"item-image-lg"%>


    <p class="h3 mt-3"> 個数: <%= @item.store%></p>
    <p class="h3 mt-3"> 保管場所: <%= @item.place.name%></p>
  </div>


</div>
