<%= render "shared/header"%>

<div class="container">

  <% if @places.blank?%>
    <div class="text-center mt-5 ">
      <%= link_to "場所が登録されていません", new_place_path,class:"h2 text-center mt-5"%>
    </div>
  <% else %>
    <p class="h1 mt-5">場所</p>
      <div class="place-wrapper ">
        <% @places.each do |place|%>
        <%= link_to place_path(place.id)do%>
          <div class="place-item">
              <div class="h2 text-dark">
                <%= place.name%>
              </div>
              <div class="place-image">
              <%= image_tag place.image.variant(resize:'250x250')%>
              </div>
          </div>
          <% end%>
        <% end %>
      </div>
  <% end %>
</div>

<%= render "shared/footer"%>

