<%= render "shared/header"%>

<div class="container text-center mt-3">
  <%= form_with model: @item,url: place_items_path(@place.id) do |f| %>
    <%= f.label :name ,"商品名"%>
    <%= f.text_field :name,id:"item_name" %>
    <%= f.file_field :image,id: "item_image"%>
    <%= f.submit '送信',class:"btn btn-primary"%>
  <% end %>
  <div class="mt-5">
  <p class="h1 mt-5"><%= @place.name%></p>
    <%= image_tag @place.image.variant(resize:'500x500')%>
  </div>
<div id='items'>

      <div class="place-wrapper ">
        <% @items.each do |item|%>
          <div class="place-item">
            <%= link_to place_item_path(item.id)do%>
              <div class="h4 text-dark">
                <%= item.name %>
              </div>
              <%= image_tag item.image.variant(resize:'250x250')%>
            <% end %>
          </div>
        <% end %>
      </div>
</div>
